@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'dancing-script';
	src: url("../fuentes/DancingScript-Regular.otf")
}

body {
	background-color: #02010a;
	font-family: Dancing-Script;
	color: white;
	align-content: center;
	margin: auto;
}

figure img {
	width: 100%;
	box-shadow: 2px 2px #02010a;
	margin: 0 auto;
}

@media screen {

#cabecera {
	max-width: 900px;
	height: auto;
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	display: block;
	margin: 0 auto;
		  }
.menu { 
	display: block;
  	text-align: center;
  	margin: auto;
	}

h1 {
	text-shadow: 2px 2px #02010a;
	padding-top: 3%;
	width: 100%;
	height: auto;
	font-size: 2em;
	text-align: center;
	
}
ul {
	height: auto;
	margin: auto;
	align-content: center;
	padding-bottom: 3%;
}
li {
	list-style: none;
	padding-bottom: 0.5em;
	text-decoration: none;
	font-size: 1.5em;
	margin: 0;
	}
	
li>a:link {
	color: white;
	text-decoration-color: white;
	}
li>a:visited {
	color: white;
	text-decoration: none;
	}
a:link {
	color: black;
	text-decoration-color: black;
}
a:visited {
	color: black;
	text-decoration: none;
	}	
div {
	margin: auto;
	max-width: 900px;
}
#contenedor1 {
	background-color: #82c3a6;
	max-width: 900px;
	padding: 2%;
	margin: auto;
}
#contenedor2{
	background-color: #d5c75f;
	display: block;
	max-width: 900px;
	font-size: 1.8em;
	color: black;
	text-align: center;
	padding: 2%;

	}
img {
	width: 100%;
	box-shadow: 2px 2px #02010a;
	margin: 0 auto;
}

#img2:hover {
	-webkit-transition: 1s;
	-webkit-transform: rotate(10deg);
	}
	
#img3:hover {
	-webkit-transition: 1s;
	-webkit-transform: translate(20px,-5px);
	}
	
footer {
	margin: 0 auto;
	background-color: #C6d5c5;
	color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	display: block;	
	padding: 15%;
}

	footer>div {
		margin: 0;
		width: 100%;
		padding-bottom: 5%;
		font-size: 1.2em;
	}
	
	p>img {
		width: 5%;
		margin: 0 auto;
		box-shadow: none;
	}
}

@media (min-width: 900px){	
#wrapper {
		max-width: 900px;
		margin: auto;
	}

#cabecera {
	max-width: 900px;
	height: auto;
	background-color: #5b7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
	display: flex;
	margin: auto;
		  }
	
	
h1 {
	text-shadow: 2px 2px #02010a;
	padding-left: 3%;
	padding-bottom: 3%;
	width: 50%;
	height: auto;
	margin: auto;
}
.menu {
	width: 50%;
	height: auto;
	text-align: right;
	padding-right: 4%;
	margin: auto;
		}

ul li {
	list-style: none;
	float: right;
	padding-right: 1.3em;
	text-decoration: none;
	font-size: 1.3em;
	}

li a {
	color: white;
}	

li a:link {
	color: white;
	text-decoration: underline;
	}

li a:visited {
	color: white;
	text-decoration: none;
	}
	
div {
	margin: auto;
	max-width: 900px;
}
	
#contenedor1 {
	background-color: #82c3a6;
	max-width: 900px;
	padding: 2%;
	margin: 0 auto;
}

#contenedor2{
	background-color: #d5c75f;
	display: flex;
	max-width: 900px;
	color: black;
	text-align: center;
	font-size: 1.5em;
	}

#img2:hover {
	transform: rotate(10deg);
	box-shadow: 2px 2px #82c3a6;
	}
	
#img3:hover {
	transform: translate(20px,-5px);
	box-shadow: 2px 2px #82c3a6;
	}


footer {
	max-width: 900px;
	margin: 0 auto;
	background-color: #C6d5c5;
	color: black;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
	display: flex;
	padding: 0px;
}

	footer>div {
		margin: 0;
		width: 25%;
		padding: 3%;
		font-size: 1.1em;
	}
	
	p>img {
		width: 12%;
		margin: 0 auto;
		box-shadow: none;
	}
			
}
